html {
  height: 100%; }

body {
  background: -webkit-linear-gradient(315deg, #371A5E, #0000FF);
  background: linear-gradient(135deg, #371A5E, #0000FF);
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

h1 {
  text-align: center;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 5em;
  color: white;
  display: inline-block;
  margin-left: 10px;
  -webkit-transition: .3s ease-in-out;
          transition: .3s ease-in-out; }

h2 {
  color: white;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 2em;
  z-index: 1;
  margin-left: 10px; }

#buttonContainer {
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

#total {
  display: block;
  text-align: center; }

#points {
  display: inline-block;
  text-align: center;
  font-size: 15em;
  margin: 25px; }

button {
  height: 80px;
  width: 200px;
  border: 3px solid white;
  background-color: darkblue;
  margin: 10px;
  text-align: center;
  display: block;
  color: white;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 1.5em; }

button:hover {
  background-color: blue; }
